*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    min-height:100vh;

    background:#f7f3ea;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:20px;

    font-family:Georgia,serif;
}

.letter-container{
    text-align:center;
}

#letterPaper{

    width:90%;
    max-width:500px;

    margin:auto;

    padding:40px;

    border-radius:20px;

    box-shadow:
    0 15px 35px rgba(0,0,0,.12);

    opacity:0;

    transform:
    scale(.7);

    animation:
    unfold 1s ease forwards;
}

.pin{
    font-size:32px;
    margin-bottom:15px;
}

#letterTitle{
    margin-bottom:25px;
}

#letterMessage{

    line-height:1.8;

    font-size:18px;

    margin-bottom:30px;
}

#signature{

    font-style:italic;

    text-align:right;
}

.buttons{

    margin-top:25px;

    display:flex;

    gap:15px;

    justify-content:center;

    flex-wrap:wrap;
}

button{

    border:none;

    padding:14px 22px;

    border-radius:14px;

    cursor:pointer;

    font-size:16px;
}

#againBtn{
    background:#ffd54f;
}

#homeBtn{
    background:#d9d9d9;
}

@keyframes unfold{

    from{

        opacity:0;

        transform:
        scale(.7)
        rotateX(90deg);
    }

    to{

        opacity:1;

        transform:
        scale(1)
        rotateX(0deg);
    }
}